.header-container {
  display: flex;
  align-items: center;
  height: 60px;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.header {
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}
