body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background: var(--background-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.link:hover,
.link:focus {
  color: var(--color-button);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  outline: 2px solid tomato;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.address {
  font-style: normal;

  @media screen and (min-width: 768px), (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 9px;
}
