:root {
  --background-color: #ffffff;
  --main-color: #212121;
  --second-color: #757575;
  --color-button: #2196f3;
  --background-color-button: #188ce8;
  --background-color-team: #f5f4fa;
  --bcg-second: #2f303a;
  --third-color: rgba(255, 255, 255, 0.6);
}
